#jobsOutline {
    margin: 50px 20%;
    padding: 30px;
    border: black 2px solid;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    background-color: white;
}
#jobsHeader {
    text-align: center;
    font-family: Pirate Font;
    font-size: xxx-large;
}
