<div id="aboutOutline">
  <h1 class="aboutHeader">About</h1>
  <div class="aboutBody">
    <p>
      Jack Sparrow was a legendary pirate of the Seven Seas, and the irreverent
      trickster of the Caribbean. A captain of equally dubious morality and
      sobriety, a master of self-promotion and self-interest, Jack fought a
      constant and losing battle with his own best tendencies. Jack's first love
      was the sea, his second, his beloved ship the Black Pearl.
    </p>
  </div>
  <h2 class="aboutHeader">Equipment</h2>
  <div class="aboutBody">
    <ul>
      <li>Black Pearl</li>
      <li>Sword of Cortés</li>
      <li>Timekeeper</li>
      <li>Magic Compass</li>
      <li>Flintlock Pistols</li>
      <li>Musket</li>
      <li>Hanger</li>
    </ul>
  </div>
</div>
