#homeBody {
 padding: 0px 0px 15px 0px;
}

#homeHeader {
    text-align: center;
    font-family: Pirate Font;
    font-size: xxx-large;
    background-color: rgb(255, 255, 255);
    margin: 15px 0%;
    padding: 10px 0px;

}
#homeImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border: rgba(0, 0, 0, 0.832) 2px solid;
    border-radius: 0px;
}
#homeQuote {
    text-align: center;
    font-family: Pirate Font;
    font-size: xx-large;
    margin: 15px 20%;
    padding: 15px 30px;
    border: rgba(0, 0, 0, 0.831) 2px solid;
    background-color: white;
}
