/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: Pirate Font;
    src: url(assets/fonts/Pieces-of-Eight.ttf) format('truetype');
}
#navBar {
    background-color: rgb(125, 9, 9);
    padding: 0px 10px;
}
.btn {
    margin: 7px 5px;
    font-size: x-large;
    font-family: Pirate Font;
}