/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
    padding: 0;
    background-image: url('assets/img/backgroundjs.jpeg');
     background-repeat: no-repeat;
    background-size: cover;
}

@font-face {
    font-family: Pirate Font;
    src: url(assets/fonts/Pieces-of-Eight.ttf) format('truetype');
}
#navBar {
    background-color: rgb(255, 255, 255);
    padding: 0px 10px;
}
.btn {
    margin: 7px 5px;
    font-size: x-large;
    font-family: Pirate Font;
    border: rgba(0, 0, 0, 0.769) 1px solid;
}